@model IEnumerable<Asb404.Models.Gallary>
@using Asb404.Models
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "گالری تصاویر امنیت سازان برتر";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    DBContexter _db = new DBContexter();
}
<div id="PanelPage" style="text-align:center;">
    @*@{ Html.RenderAction("_List", "Gallary");}*@
    <section id="portfolio">
        <div class="container animated fadeInDown">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one farsi-Yekan-h2">گالری تصاویر نمونه پروژه ها</h2>
                    @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>*@
                </div>
            </div>
            @*<ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".html">Html</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".wordpress">Wordpress</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".joomla">Joomla</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".megento">Megento</a></li>
        </ul>*@<!--/#portfolio-filter-->
        <div id="targetpanel">
            @{Html.RenderAction("_List", "Gallary");}
        </div>
        </div>
        @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("_showGallary", new
                {
            page,
                    LiElementClasses = new List<string> { "myClass", "yourClass" },
            //The following properties are the same as OnlyShowFivePagesAtATime
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = 10
            }))*@



    </section> <!--/#portfolio-->

</div>


