
@{
    ViewBag.Title = "گالری تصاویر امنیت سازان برتر";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div id="PanelPage" style="text-align:center;">
    @{ Html.RenderAction("_List", "project");}
</div>


