
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<section id="blog">
    <div class="container animated fadeInDown">
        <div class="row">
            <div class="panel-body  col-md-4 col-md-offset-4">

                <div class="farsi-Yekan-1 text-center Panel-google-White" style="padding:20px 20px 20px 20px; direction:rtl;">
                    <h4><i class="fa fa-user fa-5x"></i></h4>
                    <div id="msg" class="farsi-Yekan Label-google" style="height:20px;color:orangered;"></div>
                    @using (Ajax.BeginForm("ChangePassword", "Member", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", LoadingElementId = "div_loading" }))
                    {
                        <div class="form-horizontal" style="margin-top:20px;">
                            <div class="form-group">
                                @*@Html.Label("ایمیل", htmlAttributes: new { @class = "form-label col-md-4" })*@
                                <div class="col-md-12">
                                    @Html.Password("OldPass", null, new { @class = "form-control text-left", placeholder = "رمز عبور فعلی خود را وارد کنید" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("ایمیل", htmlAttributes: new { @class = "form-label col-md-4" })*@
                                <div class="col-md-12">
                                    @Html.Password("NewPass", null, new { @class = "form-control text-left", placeholder = "رمز عبور جدید خود را وارد کنید" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("ایمیل", htmlAttributes: new { @class = "form-label col-md-4" })*@
                                <div class="col-md-12">
                                    @Html.Password("RepPass", null, new { @class = "form-control text-left", placeholder = "رمز عبور جدید را تکرار کنید" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @*col-md-offset-4*@
                                    <input type="submit" value="تغییر رمز" class="btn btn-block btn-theme btn-add " style="background-color:#fc7700;"  />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
</section>