
@{
    ViewBag.Title = "درباره امنیت سازان چالوس";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<div id="blog" class="container animated fadeInDown text-center">
    <h2 class="title-one farsi-Yekan-h2 text-center">موسسه حفاظتی مراقبتی امنیت سازان برترچالوس</h2>
    <div class="row">
        <div class="panel-body  col-md-12 col-sm-12">

            <div class="farsi-Yekan-1 text-justify Panel-google-White animated fadeIn" style="padding:20px 30px 30px 30px; direction:rtl;">

                <h3></h3>
                <div>
                    این موسسه که تنها موسسه حفاظتی مراقبتی شهرستان چالوس و بزرگترین و فعالترین موسسه استان مازندران با بیشترین تعداد پروژه (حدوداً 45 مورد)و بیشترین و برترین پرسنل (حدوداً 150 نفر) با پوشش بیمه تامین اجتماعی،حوادث و تکمیلی و ملبس به اونیفرم و تجهیزات مصوب کامل می باشد
                    <br />
                    موسسه حفاظتی امنیت سازان برتر در سال 1394 تاسیس با توضیح اینکه کلیه دست اندرکاران آن سابقاً در موسسات دیگر سابقه کاری حدوداً 10 ساله داشته که در سال مذکور اقدام به تاسیس موسسه فوق نمودند ودر حال حاضر بصورت پیشتاز با بهره گیری از سیستم سنتی و ترکیب آن با سیستم مدرن در حال یکه تازی و توسعه زود هنگام می باشد و محدوده تحت پوشش آن چهار شهرستان عباس آباد،چالوس،نوشهر و نـور می باشد و بزرگـترین فروشـگاه ها اعم از ال سی،دفـاکتو،لایـکو،
                    ایران کتان،بازار ساحلی نوشهر و بزرگترین شهرک ها اعم از پالم پلازا ،منظر دریا،آپادانا،هایداشت و …
                    زیبا ترین پاساژها اعم از میلاد نور،الماس،چالوس و …
                    بانک های دولتی و خصوصی اعم ازکشاورزی ،آینده،سرمایه و سینا چه در امر جا بجایی پول و چه در مقوله حفاظت فیزیکی بانک.
                    پلاژ های پر رفت و آمد نظیر تفرجگاه نمک آبرود و پلاژ شهرداری چالوس و ...
                    <br />
                    <br />
                    <h4 class="text-center" style="color:#ff6a00">مدیر عامل موسسه  خدمات حفاظتی مراقبتی امنیت سازان برتر - نیکویی</h4>
                </div>
                <br />
                <h3>تعهدات و توضیحات خدمات موسسه حفاظتی مراقبتی امنیت سازان برتر</h3>
                <div>
                    1) اجرای احکام دادگستری در معیت ضابطین قضایی انتظامی
                    <br />
                    2) کنترل شبانه روزی پستها توسط مسئول گشت مربوطه همراه با خودروموسسه و همچنین سایر عوامل موسسه
                    <br />
                    3) کنترل پستهای شب توسط رادیوی مرکزی بوسیله پاس بخش شب هر یک ساعت یکبار
                    <br />
                    4) تعویض نیرو در صورت عدم رضایت کارفرما در اسرع وقت
                    <br />
                    5) انتخاب و بكارگيري نيرو و تنظيم لوحه ماهانه و ارائه آن به درخواست  كارفرما(در صورت لزوم)
                    <br />
                    6) تحویل فرم نظر سنجی به کارفرما در پایان هر ماه جهت بهبود کیفی ارائه خدمات
                    <br />
                    7) تحویل فرم گزارش سرکشی و بازدید ماهانه جهت اطلاع مسئولین پروژه از تعداد دفعات بازدید شده از پروژه
                    <br />
                    8) مجهز نمودن افراد به تجهیزات کامل اعم از تونفا ، اسپری ، بیسیم ، شوکر، دستبند و ... و اونیفرم مصوب ناجا
                    <br />
                    9) رعایت کلیه موازین اخلاقی در راستای قوانین ناجا و وظایف خواسته شده از سوی هیئت مدیره(کارفرما)
                    <br />
                    10) بکارگیری نگهبانان آموزش دیده و رعایت موازین اسلامی  ( در صورتی که نگهبان تازه جذب شده باشد در اسرع وقت جهت گذراندن دوره آموزشی با دریافت جواب آزمایش عدم اعتیاد و همچنین عدم سوء پیشینه کیفری ، اعزام میگردد).
                    <br />
                    11) گزارش هفتگی یا ماهانه به مدیر پروژه از حراست و سایر اتفاقات و حوادث
                    <br />
                    12) مسئوليت بيمه عوامل مورد بحث در قرارداد مربوط به تامين اجتماعي و بيمه مسئوليت (حوادث)
                    <br />
                    13) هماهنگي و تعامل با نيروي انتظامي در جهت رفع موانع در صورت بروز حادثه
                    <br />
                    14) ثبت کلیه تردد ها در دفتر گشت وکنترل حاضر در آن مجموعه و ارائه آن به مدیریت محترم پروژه(در صورت نیاز)
                    <br />
                    15)خدمت رسانی و ایفای وظیفه بی چون و چرا حتی در شرایط بحرانی اعم از برف و .....
                    <br />
                    16) پرداخت حقوق به پرسنل بر مبنای آنالیز و فرم رتبه بندی ماهانه پس از دریافت نظرات فرم نظر سنجی کارفرما ،
                    رضایت کارفرما ، رضایت مسئول گشت،آداب و معاشرت مناسب و روابط عمومی خوب،شکل ظاهری مناسب و ...
                    <br />
                    17) درج کلیه اخبار و سرکشی های روزانه و شبانه و رویداد ها در سایت،اینستا گرام و کانال تلگرام موسسه و اطلاع رسانی به مدیران پروژه ها
                    <br />
                    18) امنیت شهرک ها و مجتمع‌های تجاری، اداری و مسکونی
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>