
@{
    ViewBag.Title = "قوانین و مقررات امنیت سازان برتر";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="blog" class="text-center">
   
    <div class="container animated fadeInDown">
        <h2 class="title-one farsi-Yekan-h2 text-center">قوانین و مقررات اجرایی</h2>
        <div class="row">
            <div class="panel-body  col-md-12 col-sm-12">

                <div class="farsi-Yekan-1 text-justify Panel-google-White " style="padding:20px 30px 30px 30px; direction:rtl;">
                    <a href="#demo" data-toggle="collapse">پيش‌ گفتار</a>

                    <div id="demo" class="collapse in">
                        موضوع مشاركت مردم در عرصه‌هاي مختلف زندگي اجتماعي، سابقه‌اي به قدمت عمر بشر دارد. انسان در طول تاريخ همواره به صورت جمعي زندگي كرده است و در قالب گروه‌هاي مختلف حيات اجتماعي متفاوتي از خود به نمايش گذاشته است.
                        از مصاديق بارز اين مشاركت در كشور ما حضور آگاهانه، مردم ايران در پيروزي انقلاب اسلامي و صحنه‌هاي اجتماعي و سياسي مانند هشت سال دفاع مقدس مي‌باشد.<br />
                        با توجه به اين واقعيت، نيروي انتظامي به عنوان متولي نظم و امنيت مي‌تواند از اين انرژي بالقوه مردمي استفاده نمايد و رويكرد امنيت پايدار و مردمي و افزايش نقش ارزنده مشاركت مردم در تقويت امنيت عمومي بيشتر مورد توجه قرار گيرد.<br />
                        سند چـشم‌انداز بيست ساله جمهوري اسلامي ايران بر تـحقق جامعه امن تأكيد كرده است.<br />
                        ماده122 قانون برنامه‌چهارم توسعه اقتصادي، سياسي و اجتماعي جمهوري‌اسلامي ايران نيز اجازه واگذاري بخشي از خدمات انتظامي و حفاظتي را به مؤسسات غيردولتي با حفظ كنترل و نظارت دقيق پليس و مديريت بر نحوه فعاليتهاي بخش غيردولتي داده است كه در زمينه‌هاي‌مختلف از حضور شبگردان و نگهبانان در محلات و مجتمع‌هاي‌مسكوني، تجاري و صنعتي تا طراحي، نصب و پشتيباني سيستم‌هاي حفاظتي و واردات، توليد، توزيع و نصب سيستم‌هاي حفاظتي الكترونيكي هشداردهنده در كشور را ساماندهي نمايد و اين فعاليت‌ها را عنواني يكي از اقدامات اساسي پليس در پيشگيري از وقوع جرم در دستوركار قرار دهد.<br />
                        در اين راستا آيين‌نامه اجرايي ماده 122 قانون برنامه چهارم توسعه برابر مستندات قانوني و نظارت كارشناسان امنيتي، انتظامي، قضايي و حقوقي مشتمل بر پيش‌گفتار، 5 فصل، 39 ماده 38 تبصره تنظيم شده است.<br />


                    </div>
                    <br />
                    <a href="#demo1" data-toggle="collapse">فصل اول « كليات»‏</a>
                    <div id="demo1" class="collapse">
                        🔸ماده1ـ مقدمه<br />
                        در اجراي ماده 122 قانون برنامه چهارم توسعه كه مقرر مي‌دارد:
                        « پس از موافقت فرماندهي كل نيروهاي مسلح، به وزارت كشور اجازه داده مي‌شود از طريق نيروي انتظامي نسبت به اعطاي مجوز فعاليت به متقاضيان تشكيل مؤسسات غيردولتي خدمات حفاظتي و مراقبتي و واگذاري بخشي از خدمات انتظامي و حفاظتي به مؤسسات مذكور با حفظ كنترل و نظارت دقيق براساس آيين‌نامه اجرايي كه به پيشنهاد وزارت كشور و تأييد فرماندهي كل نيروهاي مسلح به تصويب شوراي امنيت كشور مي‌رسد، اقدام نمايد.
                        ضوابط و مقررات تشكيل مؤسسات مزبور و چگونگي تعامل آنها با ناجا، سازمانها، ادارات و ارگانهاي ذيربط برابر مفاد اين آيين‌نامه خواهدبود.<br />
                        🔸ماده2ـ هدف<br />                        ارتقاء ظرفيت و توان ناجا در پيشگيري از وقوع جرايم و ارائه خدمات انتظامي، حفاظتي و مراقبتي به مردم.<br />🔸ماده3ـ منظور<br />                        الف ـ تقويت امنيت عمومي و پيشگيري از وقوع جرايم با بهره‌گيري از تجهيزات و فناوري‌هاي نوين و نيروي مردمي.
                        ب ـ جلب مشاركت مردم در برقراري امنيت عمومي.<br />
                        ج ـ افزايش احساس امنيت در جامعه با گسترش حضور عوامل حفاظتي و انتظامي و بهره‌گيري از متخصصان و صاحب نظران با تجربه نيروهاي مسلح و دستگاههاي امنيتي.<br />
                        د ـ بهره‌گيري از ظرفيت‌هاي بخش غيردولتي در بخشي از امور اجرايي خدمات انتظامي.<br />
                        هـ ـ تسهيل و تسريع در ارائه خدمات اداري، انتظامي، حفاظتي و مراقبتي به مردم.<br />
                        🔸ماده4ـ اختصارات:
                        <br />                        الف ـ ستاد كل: به جاي ستاد كل نيروهاي مسلح.<br />
                        ب ـ شاك: به جاي شوراي امنيت كشور.<br />
                        ج ـ ناجا: به جاي نيروي انتظامي جمهوري اسلامي ايران.<br />
                        د ـ ساحفاناجا: سازمان حفاظت اطلاعات نيروي انتظامي ج.ا.ا<br />
                        هـ ـ فا.استان: به جاي فرماندهي انتظامي استان.<br />
                        و ـ مركز انتظام: به جاي مركز خدمات حفاظتي و مراقبتي ناجا.<br />
                        ز ـ فا شهرستان: به جاي فرماندهي انتظامي شهرستان.<br />
                        ح ـ مؤسسه : به جاي مؤسسه غيردولتي خدمات انتظامي (حفاظتي و مراقبتي).<br />
                        تبصره ـ در صورت تغيير عناوين و ساختارهاي مراجع فوق از نام‌هاي جديد و جايگزين استفاده خواهدشد.<br />
                        🔸ماده5 ـ تعاريف<br />                        الف ـ خدمات انتظامي:<br />
                        خدماتي كه با ارائه آنها بخشي از انضباط عمومي در جامعه و استقرار نظم محقق مي‌شود مانند گذرنامه، گواهينامه، اجرائيات راهنمايي و رانندگي، وظيفه عمومي و تشخيص هويت.<br />
                        ب ـ خدمات حفاظتي و مراقبتي:
                        مراقبت و نگهباني از اماكن، تأسيسات و تسهيلات فاقد رده حفاظتي، كنترل تردد در اين گونه اماكن و تأمين امنيت جابجايي اموال و اسناد بهادار و ساير فعاليتهايي كه صرفاً جنبه‌ي حفاظت فيزيكي دارد.<br />
                        ج ـ مركز انتظام:
                        بخشي از پليس پيشگيري ناجا است كه صدور مجوز فعاليت مؤسسات خدمات حفاظتي و مراقبتي مندرج در اين آيين‌نامه و اعمال كنترل و نظارت دقيق بر فعاليت آنها را (در استانها و شهرستانها توسط رده مربوط) برعهده دارد.<br />
                        د ـ مؤسسات خدمات حفاظتي و مراقبتي:
                        به مؤسسات غيردولتي اطلاق مي‌شود كه برابر قوانين و مقررات جاري و ضوابط مندرج در اين آيين‌نامه تشكيل و پس از ثبت، تحت نظارت و كنترل ناجا، مجاز به فعاليت حفاظتي و مراقبتي به شرح مندرج در اين آيين‌نامه خواهندبود.<br />
                        هـ ـ دفاتر خدمات انتظامي (دفتر خدمات الكترونيك پليس يا پليس + 10) :
                        دفاتر و مؤسساتي هستند كه به منظور ارائه بخشي از خدمات انتظامي همچون دريافت و تحويل مدارك و اسناد گواهينامه، گذرنامه، اجرائيات راهنمايي و رانندگي و وظيفه عمومي و تشخيص هويت برابر مقررات تشكيل مي‌شوند.<br />
                        و ـ كارفرما:
                        اشخاص حقيقي و حقوقي كه در قالب قرارداد منعقده با مؤسسات موضوع اين آيين‌نامه خدمات حفاظتي و مراقبتي دريافت خواهندكرد.<br />
                        ز ـ كاركنان:
                        كاركنان به افرادي اطلاق مي‌شود كه در امور اداري و اجرايي مؤسسات و دفاتر شاغل خواهندشد و نگهبانان و مراقبان افرادي هستند كه برابر ضوابط مندرج در اين آيين‌نامه توسط مؤسسات بكارگيري شده و براساس قرارداد منعقده وظيفه برقراري امور حفاظتي و مراقبتي را عهده‌دار هستند.<br />



                    </div>
                    <br />
                    <a href="#demo2" data-toggle="collapse"> فصل دوم « شرايط تشكيل و رتبه‌بندي مؤسسات»</a>
                    <div id="demo2" class="collapse">
                        🔸ماده6 ـ مؤسسات در امور خدمات حفاظتي و مراقبت از اماكن و تأسيسات فاقد طبقه‌بندي حفاظتي، نصب و توزيع واردات و صادرات تجهيزات ايمني و امنيتي، مشاوره و آموزش عوامل اجرايي، حمل پول و اوراق بهادار فعاليت مي‌نمايند.<br />
                        🔸ماده7ـ مؤسسات مشمول اين آيين‌نامه با شخصيت حقوقي غيردولتي در چارچوب قانون تجارت تشكيل مي‌شوند و بايد داراي هيئت مديره و مديرعامل باشند.<br />
                        تبصره ـ نمونه اساسنامه مؤسسات توسط ناجا در چارچوب قوانين كشور و مفاد اين آيين‌نامه تهيه و به تأييد وزير كشور خواهدرسيد. ثبت و تغييرات ثبتي اين مؤسسات مطابق اساسنامه نمونه و با رعايت ضوابط اين آيين‌نامه خواهدبود.<br />
                        🔸ماده8 ـ شرايط مؤسسين و اعضاي هيئت مديره، مديران، كاركنان و نگهبان‌ها:
                        مؤسسين، رؤسا، مديران، اعضاء هيئت مديره، كاركنان، نگهبان‌ها و مراقبان مؤسسات موضوع اين آيين‌نامه، بايد واجد شرايط زير باشند:
                        الف ـ داشتن تابعيت ايراني.<br />
                        ب ـ اعتقاد به مباني جمهوري اسلامي ايران و قانون اساسي.
                        ج ـ نداشتن سابقه عضويت و وابستگي به احزاب و گروه‌هاي سياسي ضدانقلاب، معاند و غيرقانوني و نداشتن سابقه سوء امنيتي (با تأييد مراجع ذيصلاح).<br />
                        د ـ نداشتن سوء شهرت به تشخيص ناجا.<br />
                        هـ نداشتن سوء پيشينه كيفري مؤثر براساس اسناد موجود در مبادي ذيربط ناجا.<br />
                        و ـ نداشتن اعتياد به مواد مخدر و مواد روان‌گردان با تأييد واحدهاي بهداشتي و درماني تعيين شده توسط ناجا.<br />
                        ز ـ داشتن سلامت جسمي و رواني برابر تأييد واحدهاي درماني تعيين شده توسط ناجا (به نحوي كه توانايي انجام وظايف محوله را داشته باشد).<br />
                        ح ـ داشتن كارت پايان خدمت و يا معافيت براي افراد ذكور.
                        ط ـ داشتن حداقل مدرك تحصيلي ديپلم براي كاركنان و خواندن و نوشتن براي نگهبان‌ها و ساير نيروهاي شاغل در مؤسسه.<br />
                        ي ـ اعضاي هيئت مديره و مديرعامل علاوه بر شرايط عمومي فوق بايد داراي شرايط اختصاصي زير نيز باشند:
                        ـ داشتن حداقل 15 سال سابقه كار در نيروهاي مسلح براي مديرعامل يا رئيس هيئت مديره ضروري است.<br />
                        ـ مديرعامل و اعضاي هيئت مديره مؤسسات فقط مي‌توانند در يك مؤسسه عضويت داشته باشند.<br />
                        ـ داشتن حداقل 35 سال سن و مدرك تحصيلي فوق‌ديپلم (يا معادل آن در نيروهاي نظامي و انتظامي) براي مديرعامل و هيئت مديره ضروري است.<br />
                        ـ داشتن صلاحيت‌هاي حرفه‌اي براي مديرعامل موسسات با تأييد مركز انتظام يا رده انتظامي مربوط به تناسب نوع و محدوده كار مؤسسه.<br />
                        ـ اخراج‌شدگان از دستگاه‌هاي كشوري و لشكري نمي‌توانند عضو هيئت مديره يا مديرعامل مؤسسات باشند.<br />
                        ـ اعضاء هيئت مديره و مديرعامل مؤسسات نبايد در دستگاه‌ها، مؤسسات و نهادهاي دولتي (كشوري، لشكري) و نهادها و مؤسسات عمومي غيردولتي اشتغال داشته باشند.<br />
                        تبصره1ـ تعداد اعضاي هيئت مديره حداقل 5 و حداكثر 7 نفر و عضويت بيش از دو نفر از اعضاي يك خانواده (در طبقه اول) در هيئت مديره مؤسسه ممنوع است.<br />
                        تبصره2-در شرايط‌مساوي، ايثارگران، رزمندگان، بسيجيان‌فعال و بازنشستگان‌انتظامي، نظامي و امنيتي و فرزندان آنها براي تأسيس و بكارگيري و مديريت در مؤسسات اولويت دارند.<br />

                        🔸ماده9ـ پيگيري احراز صلاحيتهاي مذكور در ماده8 براي مؤسسين، رؤسا و اعضاي هيئت‌مديره و مديرعامل مؤسسات برعهده‌ي مركز انتظام ناجا يا واحدهاي ذيربط در استانها يا شهرستانها خواهدبود و در مورد ساير كاركنان مؤسسه در چارچوب مقرراتي كه ناجا ابلاغ مي‌نمايد برعهده مديرمؤسسه مربوط مي‌باشد و ناجا بر حُسن اجراي آن نظارت مي‌كند.<br />
                        تبصره1ـ مركز انتظام ناجا يا واحدهاي ذيربط در استانها و شهرستانها موظفند درخصوص تأييد صلاحيت مؤسسين، رؤسا، اعضاي هيئت‌مديره و مديرعامل نظريه ساحفاناجا را اخذ و ملاك عمل قرار دهند.
                        تبصره2ـ چنانچه هريك از مؤسسين، رؤسا و اعضاي هيئت مديره و مديرعامل يا كاركنان مؤسسات بنا به نظر ساحفاناجا فاقد هر يك از شرايط مندرج در ماده8 تشخيص داده شدند مجاز به ادامه فعاليت در مؤسسه نخواهندبود.<br />
                        🔸ماده10ـ اداره كل ثبت شركتها و مالكيت صنعتي و ادارات تابعه آن در استانها و مناطق آزاد در صورتي مي‌توانند نسبت به ثبت مؤسسات موضوع اين آيين‌نامه اقدام كنند كه اين مؤسسات قبلاً از ناجا (مركز انتظام يا رده‌هاي مربوط در استان و شهرستان) مجوز مربوط را دريافت كرده باشند و اساسنامه موسسات به تأييد رده مربوط ناجا رسيده باشد.<br />
                        🔸ماده11ـ به مؤسسات با توجه به نوع فعاليت و توانمندي آنها و براساس ضوابط و استانداردهاي مصوب و دستورالعملي كه توسط ناجا تهيه و به تصويب وزير كشور مي‌رسد، پروانه فعاليت در سه رتبه به شرح ذيل اعطاء مي‌گردد:
                        رتبه سوم: حفاظت از اماكن و تأسيسات خصوصي و دولتي فاقد طبقه‌بندي حفاظتي از قبيل محلات، مجتمع‌هاي مسكوني، تجاري، صنعتي، شعب غيرمادر بانكهاي خصوصي، مؤسسات مالي و اعتباري، صندوقهاي قرض‌الحسنه، اماكن تفريحي، فرهنگي، آموزشي، ورزشي، درماني
                        👇

                        زمين‌ها و تأسيسات كشاورزي، سيلوها، انبارهاي كالا و پروژه‌هاي عمراني.<br />
                        رتبه دوم: علاوه بر موارد مندرج در رتبه سوم، حفاظت از شعب غيرمادر بانكهاي دولتي، توزيع و نصب سامانه‌هاي حفاظتي و مراقبتي الكترونيكي، حمل و نقل پول و اوراق بهادار مربوط به شعب غيرمادر بانكها (دولتي و غيردولتي) و مؤسسات مالي و اعتباري و صندوقهاي قرض‌الحسنه و اسناد و اشياء بهادار.<br />
                        رتبه يكم: علاوه بر موارد مندرج در رتبه سوم و دوم، مراقبت از گردشگران، طراحي و مشاوره در زمينه طرحهاي حفاظتي، توليد، واردات و صادرات اقلام، تجهيزات و سامانه‌هاي حفاظتي و مراقبتي الكترونيكي و آموزش نيروي انساني مرتبط با موضوع اين آيين‌نامه.<br />
                        تبصره1ـ در كليه امور مذكور در رتبه‌هاي سه‌گانه، از كاركنان غيرمسلح استفاده مي‌شود و در صورت نياز به نيروي مسلح براساس ماده 27 اين آيين‌نامه اقدام مي‌شود.
                        تبصره2ـ با توجه به وظايف قانوني ناجا، محدوده‌ي وظايف و تعاملات مؤسسات با ناجا در انجام فعاليتهاي مذكور در رتبه‌هاي فوق براساس كلياتي كه در دستورالعمل صدر اين ماده تعيين مي‌شود و بنا به مقتضيات زماني و مكاني و در قالب طرحهاي انتظامي (با رعايت ملاحظات امنيتي و حفاظت) توسط رده‌هاي ناجا به مؤسسات ابلاغ مي‌شود.<br />
                        تبصره3ـ مؤسسات مجاز به راه‌اندازي محافظين شخصي (بادي‌گارد) و يا دخالت در امور تحقيق در هر زمينه‌اي (كارآگاه خصوصي يا....) نمي‌باشند.<br />
                        تبصره4ـ مؤسسات بدون هماهنگي ناجا حق تعطيلي، انتقال، صلح و واگذاري كلي يا جزئي، به صورت موقت يا دائم، مجوز و اختيارات خود را به اشخاص ثالث حقوقي يا حقيقي را ندارند.<br />
                        تبصره5 ـ مؤسسات موظفند قراردادهاي خود را رأساً انجام داده و حق واگذاري به غير را ندارند.
                    </div>
                    <br />
                    <a href="#demo3" data-toggle="collapse">فصل سوم « تكاليف مؤسسات»</a>
                    <div id="demo3" class="collapse">
                        🔸ماده12ـ مؤسسات مشمول اين آيين‌نامه موظفند حقوق و مزاياي كاركنان و نگهبانان و مراقبان خود را مطابق قوانين موضوعه و ازجمله قانون كار پرداخت و نيز نسبت به بيمه نمودن آنان وفق قوانين مربوط (كار و تأمين اجتماعي و....) اقدام نمايند.<br />
                        🔸ماده13ـ معاضدت حقوقي از كاركنان و نگهبانان و مراقبان در رابطه با كليه دعاوي و شكاياتي كه به سبب انجام وظيفه آنان ناشي مي‌شود يا به نحوي با وظايف ايشان مرتبط است بر عهده‌ي مؤسسه مربوط مي‌باشد.<br />
                        تبصره1ـ در صورتي كه كاركنان و نگهبانان و مراقبان در حين انجام وظيفه دچار صدمه جسمي و مالي يا هر نوع خسارت ديگر ناشي از انجام وظيفه شوند پرداخت آن بخش از هزينه‌ها (درمان، خسارت يا....) كه توسط بيمه يا ضارب به هر دليل پرداخت نشود برعهده مؤسسه خواهدبود.<br />
                        تبصره2ـ چنانچه كاركنان يا نگهبانان و مراقبان از طرف عناصر ضدانقلاب مورد تعرض واقع شوند كه منجر به شهادت يا مجروحيت آنان شود برابر قوانين و مقررات جاري كشور در اين خصوص اقدام خواهدشد.<br />
                        🔸ماده14ـ مؤسسات در قبال قرارداد منعقده در حوزه تعيين‌شده در قرارداد مسئوليت دارند و براساس قوانين و مقررات جاري كشور پاسخگوي خسارات وارده ناشي از قصور و تخلفات كاركنان و عوامل مؤسسه در برابر كارفرما مي‌باشد.<br />
                        تبصره1ـ عناوين و مصاديق تخلفات و قصور مؤسسات و چگونگي برخورد با هريك از آنها و اختيارات كميسيونهاي رسيدگي در محدوده مقررات عمومي كشور در قالب يك دستورالعمل توسط ناجا تهيه و پس از تصويب وزير كشور ابلاغ و اجرا خواهدشد.<br />
                        تبصره2ـ نمونه و الگوي قراردادهاي مؤسسات با كارفرمايان توسط ناجا تهيه و در اختيار مؤسسات قرار خواهدگرفت. ناجا بر اجراي صحيح قراردادهاي منعقده نظارت خواهدكرد.<br />
                        تبصره3ـ مؤسسات مي‌توانند مطابق مقررات كشور نسبت به بيمه نمودن موضوع قراردادها اقدام نمايند.<br />
                        تبصره4ـ مرجع‌رسيدگي به اختلافات كارفرمايان با مؤسسات، مراجع‌قضايي خواهندبود. در صورت رضايت طرفين، رده‌ي ذيربط ناجا مي‌تواند به عنوان داور، طبق قوانين جاري كشور داوري و حكميت نمايد.<br />
                        🔸ماده15ـ مديرعامل مؤسسه و متصديان ارائه‌دهنده خدمات انتظامي، حفاظتي و مراقبتي موظفند به صورت مستمر و روزانه سايتهاي خدمات الكترونيكي و صندوق پست الكترونيك خود را رويت كنند و از آخرين اطلاعيه‌ها و دستورالعملهاي صادره از ناجا مطلع شوند و آنها را اجرا نمايند. ناجا موظف است ظرف حداكثر 72 ساعت اينگونه موارد را رسماً و كتباً به مؤسسات ابلاغ نمايد.<br />
                        تبصره ـ ناجا موظف است در ايجاد بسترهاي ارتباطي و تبادل اطلاعات مربوط ضوابط و مقررات مندرج در آيين‌نامه امنيت فاوا و آيين‌نامه حفاظت اسناد و مدارك نيروهاي مسلح را رعايت نمايد.<br />
                        🔸ماده16ـ مؤسسات حق دخالت و پيگيري امور امنيتي و اطلاعاتي و انتظامي و قضايي و فعاليتهاي خارج از مفاد اين آيين‌نامه را ندارند و هرگاه در حين انجام وظيفه به اين امور برخورد نمايند موظفند مراتب را بدون فوت وقت به ناجا گزارش نمايند.<br />
                        تبصره ـ تخطي از اين ماده موجب طرح موضوع در كميسيون رسيدگي به تخلفات خواهدبود و در صورت وقع جرم به مراجع قضايي ارجاع خواهدشد.<br />
                        🔸ماده17ـ هيئت مديره، مديرعامل، كليه كاركنان و نگهبانان و مراقبان مؤسسات موظفند علاوه بر اجراي دقيق قوانين و مقررات كشور، طرح تكريم ارباب رجوع و رعايت شئون اسلامي در محيط كار، ضوابط و دستورالعملهاي انضباطي و اجرايي را كه ناجا در چارچوب اين آيين‌نامه تهيه و ابلاغ مي‌كند اجرا نمايند مسئوليت اين امور مستقيماً به عهده مديرعامل و اعضاي هيئت مديره خواهدبود.<br />
                        🔸ماده18ـ مؤسسات موظفند نسبت به تأمين لباس، تجهيزات و كارت شناسايي نگهبانان و مراقبان اقدام نمايند.<br />
                        تبصره1ـ نوع، شكل، رنگ، علائم لباس و كارت شناسايي كاركنان، نگهبانان و مراقبان توسط ناجا تعيين و ابلاغ خواهدشد. همچنين تجهيزات شخصي نگهبانان در چارچوب خط‌مشي‌هاي مصوب شاك توسط ناجا تعيين مي‌گردد.<br />
                        تبصره2ـ كارت شناسايي مديرعامل و اعضاي هيئت مديره مؤسسات توسط مركز انتظام صادرخواهدشد و در صورت انفكاك از مسئوليت كارت‌شناسايي بايد به ناجا عودت شود.<br />
                        تبصره3ـ مؤسسات موظفند به محض قطع همكاري هر يك از كاركنان و نگهبانان نسبت به دريافت و استرداد كارتهاي شناسايي صادره اقدام نمايند.<br />
                        تبصره4ـ استفاده از لباس و تجهيزات خاص، توسط كاركنان، نگهبانان و مراقبان فقط به هنگام انجام وظيفه مجاز خواهد بود.<br />
                        تبصره5 ـ كليه كارت‌هاي شناسايي مورد استفاده در مؤسسات توسط ساحفا ناجا طراحي و چاپ خواهد شد و در اختيار مركز انتظام براي صدور و يا تحويل به مؤسسات قرار مي‌گيرد و تأمين هزينه آن بر عهده مؤسسه مربوط مي‌باشد.<br />
                        🔸ماده19ـ مديران عامل، اعضاي هيئت مديره، كاركنان و نگهبانان و مراقبان مؤسسات پس از احراز شرايط جذب، موظفند متناسب با رتبه ابلاغي ناجا، دوره‌هاي آموزشي موردنياز را در مراكز
                        آموزشي مورد تأييد ناجا طي نمايند و بكارگيري آنان منوط به ارائه گواهينامه طي دوره آموزشي يا كفايت آموزش از سوي ناجا خواهد بود.<br />
                        تبصره1ـ دستورالعمل دوره‌هاي آموزشي توسط ناجا تهيه و ابلاغ مي‌گردد و هزينه برگزاري آموزشها به عهده مؤسسات خواهد بود.<br />
                        تبصره2ـ تا زمان شكل‌گيري مؤسسات تخصصي كه قادر به ارائه آموزشهاي مورد نياز كاركنان و نگهبانان باشند، ناجا مجاز است آموزشهاي لازم را ارائه نمايد و هزينه‌هاي تمام شده را دريافت و عيناً در امور آموزشي مصرف نمايد.<br />
                        🔸ماده20ـ مؤسسات موظفند موارد ذيل را مستمراً به مركز انتظام يا واحدهاي ذيربط ناجا در استانها يا شهرستانها گزارش نمايند:
                        الف ـ قراردادهاي منعقده، تمديد شده، فسخ شده و يا خاتمه يافته با كارفرمايان.<br />
                        ب ـ فهرست اسامي كاركنان و نگهبانان جذب شده و يا منفك شده.<br />
                        ج ـ عناوين آموزشهاي ارائه شده به نگهبانان و كاركنان به همراه ساعات آموزش.<br />
                        د ـ گزارش وقايع اتفاقيه در حوزه مسئوليت (مصاديق مربوط توسط ناجا تهيه و ابلاغ خواهد شد)
                        هـ ـ هرگونه تغيير در اعضاء هيئت مديره و مديرعامل (قبل از انجام تغييرات)
                        تبصره ـ ساير گزارش‌هاي لازم در زمينه وظايف محوله به مؤسسات، مطابق مقرراتي كه ناجا ابلاغ مي‌نمايد تهيه و به مراجع ذيربط ارائه مي‌شود.<br />
                        🔸ماده21ـ دستورالعمل سقف و ضوابط كلي هزينه‌هاي قابل دريافت مؤسسات بابت ارائه خدمات مورد نظر اين آيين‌نامه و ضوابط كنترل و نظارت بر كار مؤسسات توسط ناجا تهيه و ابلاغ مي‌شود. مؤسسات بابت اينگونه موارد وجهي پرداخت نمي‌كنند.<br />
                        🔸ماده22ـ هيچ گونه الزام و اجباري براي افراد و اشخاص حقيقي و حقوقي بمنظور عقد قرارداد با مؤسسات وجود ندارد و متخلفين تحت پيگرد قانوني قرار خواهند گرفت.<br />
                    </div>
                    <br />
                    <a href="#demo4" data-toggle="collapse">فصل چهارم « رسيدگي به تخلفات»‏</a>
                    <div id="demo4" class="collapse">

                        🔸ماده23ـ عدم رعايت مفاد اين آيين‌نامه، اساسنامه و دستورالعمل و ضوابط ابلاغي ناجا توسط مؤسسات، تخلف محسوب‌مي‌شود و بمنظور رسيدگي به‌آن كميسيونهاي رسيدگي به تخلفات به شرح مواد آتي تشكيل و اقدامات لازم را بعمل خواهند آورد.<br />
                        عناوين و مصاديق تخلفات و چگونگي برخورد با هر يك از آنها و اختيارات كميسيونهاي رسيدگي در محدوده مقررات عمومي كشور در قالب يك دستورالعمل توسط ناجا تهيه و پس از تصويب وزير كشور ابلاغ و اجرا خواهد شد.<br />
                        🔸ماده24ـ كميسيون بدوي رسيدگي به تخلفات مؤسسات در استان مركب از افراد ذيل مي‌باشد:<br />
                        الف ـ فا استان يا جانشين وي                            رئيس كميسيون<br />
                        ب ـ نماينده استانداري عضو كميسيون<br />
                        ج ـ نماينده دادستان عمومي و انقلاب استان عضو كميسيون<br />
                        د ـ رئيس حفاظت اطلاعات فا استان عضو كميسيون<br />
                        هـ ـ رئيس پليس پيشگيري فا استان عضو و دبير كميسيون<br />
                        تبصره1ـ در مواردي كه موضوع كميسيون نياز به حضور كارشناسان تخصصي يا ساير مسئولين ذيربط داشته باشد، از آنان بعنوان مشاور دعوت بعمل خواهد آمد.<br />
                        تبصره2ـ در شهرستان‌هايي كه داراي چندين مؤسسه هستند با تشخيص كميسيون تجديدنظر، كميسيون مستقل، قابل تشكيل مي‌باشد كه با تركيب و وظايف مشابه كميسيون استان فعاليت خواهند نمود.<br />

                        🔸ماده25ـ كميسيون بدوي با حضور مديرعامل يا نماينده قانوني مؤسسه تشكيل جلسه داده و پس از استماع اظهارات وي و بررسي‌هاي لازم چنانچه وقوع تخلف را محرز دانست مي‌تواند در چارچوب دستورالعمل ماده 23 نسبت به صدور رأي در موارد ذيل اقدام نمايد:<br />
                        الف ـ تذكر كتبي با درج در پرونده<br />
                        ب ـ اعمال محدوديت و يا ممنوعيت در عقد قراردادهاي جديد<br />
                        ج ـ تنزيل موقت رتبه فعاليت مؤسسه<br />
                        د ـ تنزيل دائم، عدم تمديد، ابطال و لغو موقت يا دائم پروانه فعاليت موسسه<br />
                        تبصره1ـ مدت و ميزان اعمال تنبيهات مذكور در چارچوب دستورالعمل ماده 23 توسط كميسيون تعيين مي‌گردد.<br />
                        تبصره2ـ رأي صادره در مورد بندهاي (الف ـ ب و ج) قطعي و لازم‌الاجرا است ولي در مورد بند (د) محكوم عليه مي‌تواند ظرف 20 روز از تاريخ ابلاغ از كميسيون تجديدنظر تقاضاي رسيدگي نمايد. كميسيون مذكور موظف است حداكثر ظرف دو ماه تشكيل جلسه دهد و موضوع را بررسي و رأي نهايي را اتخاذ و ابلاغ نمايد.<br />
                        تبصره3ـ در صورتي كه مديرعامل يا نماينده قانوني وي پس از 2 بار دعوت در كميسيون بدوي شركت ننمود، كميسيون بدوي غياباً موارد را بررسي و مبادرت به صدور رأي خواهد كرد. اين رأي پس از ابلاغ ظرف 10 روز قابل واخواهي در كميسيون بدوي مي‌باشد.<br />

                        🔸ماده26ـ كميسيون تجديدنظر رسيدگي به تخلفات مؤسسات با عضويت اشخاص ذيل در پليس پيشگيري ستاد ناجا تشكيل و وظيفه آن رسيدگي و اتخاذ تصميم نسبت به آراء قابل تجديدنظر كميسيونهاي بدوي خواهد بود:
                        الف ـ رئيس پليس پيشگيري ناجا                            رئيس كميسيون<br />
                        ب ـ نماينده دادستان عمومي و انقلاب كل كشور عضو كميسيون<br />
                        ج ـ نماينده معاونت امنيتي و انتظامي وزارت كشور عضو كميسيون<br />
                        د ـ نماينده ساحفا ناجا عضو كميسيون<br />
                        هـ ـ رئيس مركز انتظام ناجا عضو و دبير كميسيون<br />
                        تبصره1ـ كميسيون تجديدنظر مي‌تواند عنداللزوم از مديرعامل و يا نماينده قانوني مؤسسه براي استماع اظهارات آنان دعوت بعمل آورده و سپس اعلام نظر نمايد.<br />
                        تبصره2ـ رأي صادره توسط كميسيون تجديدنظر قطعي و لازم‌الاجرا مي‌باشد. ملاك تصميم‌گيري‌در كميسيونهاي‌بدوي و تجديدنظر آراي‌اكثريت‌اعضاء (حداقل سهرأي) خواهندبود.<br />
                        تبصره3ـ كميسيونهاي بدوي و تجديدنظر مي‌توانند حسب مورد از نماينده اداره ثبت شركتها و مالكيت صنعتي يا نمايندگان ساير دستگاهها و پليس‌هاي تخصصي و معاونتهاي ناجا يا ساير مراجع استاني و كشوري بدون حق رأي دعوت بعمل آورند.<br />


                    </div>
                    <br />
                    <a href="#demo5" data-toggle="collapse"> فصل پنجم « ساير مقررات»</a>
                    <div id="demo5" class="collapse">

                        ‏
                        🔸ماده 27ـ نظر به اينكه حراست از اماكن و تأسيسات طبقه‌بندي شده، ايجاد امنيت در نگهداري و جابجايي وجوه و اوراق بهادار، نظارت بر نگهداري و مصرف مواد ناريه، جزء وظايف و مأموريتهاي ناجا است كه بنا بر ضرورت به موجب ماده 122 قانون برنامه چهارم توسعه اجراي بخشي از اين وظايف به مؤسسات موضوع اين آيين‌نامه محول شده است لذا ناجا ضمن نظارت و كنترل دقيق بر عملكرد مؤسساتي كه امر حفاظت و نگهباني را بر عهده دارند، مكلف است كاركنان مسلح مورد نياز اين قبيل مأموريت‌ها را در مواقع ضروري تأمين نمايد.<br />
                        تبصره1ـ كاركنان مسلح بكارگيري شونده، تحت امر ناجا اجراي مأموريت خواهند كرد. نحوه ارتباط كاري اين نيروها با مؤسسه و ميزان حق‌الزحمه آنان كه توسط مؤسسه پرداخت خواهد شد بر اساس دستورالعملي است كه توسط ناجا تهيه و ابلاغ مي‌شود. در صورت بروز هر گونه حادثه ناشي از مأموريت براي كاركنان مسلح، مشمول مقررات مربوط در نيروي انتظامي خواهند بود.<br />
                        تبصره2ـ بكارگيري و تسليح بازنشسته‌هاي نيروهاي مسلح و بسيجياني كه آموزش نظامي ديده‌اند همچنين نيروهاي شيفت استراحت نيروهاي مسلح (منوط به موافقت سازمان مربوطه) با رعايت سياستهاي ابلاغي نيروهاي مسلح و ملاحظات حفاظتي و امنيتي در اين زمينه، توسط رده انتظامي مربوط بلامانع است و مشمول مقررات اين آيين‌نامه خواهند بود.<br />
                        🔸ماده28ـ وظايف پليس‌هاي تخصصي در قبال مؤسسات:<br />
                        1ـ تهيه و تدوين شرح وظايف مؤسسات موضوع اين آيين‌نامه<br />
                        2ـ راه‌اندازي سامانه‌هاي ارتباطي براي ارائه خدمات الكترونيكي با رعايت ضوابط و مقررات مندرج در آيين‌نامه امنيت فاوا<br />
                        3ـ حمايت و پشتيباني‌هاي آموزشي و فني واحدهاي مرتبط بر اساس مفاد اين آيين‌نامه<br />
                        4ـ نظارت بر نحوه ارتباط و انجام وظايف محوله به مؤسسات<br />
                        🔸ماده29ـ وظايف كلانتري‌ها و پاسگاه‌هاي ناجا در قبال مؤسسات:<br />
                        1ـ تهيه و ابلاغ كد شناسايي نگهبان‌ها براي ارتباط با مراكز پليسي<br />
                        2ـ نظارت بر وضعيت و عملكرد نگهبان‌ها<br />
                        3ـ امضاء دفتر ثبت وقايع و تعرفه خدمتي نگهبان‌ها توسط رئيس واحد گشت در صورت لزوم<br />
                        4ـ تنظيم صورتجلسات و تحويل گرفتن و انتقال متهمين يا مظنونين به همراه لوازم و اموال همراهان آنان از نگهبانان يا مراقبين مؤسسات<br />
                        5 ـ اعزام واحد گشتي به محل استقرار نگهبان‌ها بنا به ضرورت و درخواست نگهبان يا مؤسسه<br />
                        6 ـ حمايت و پشتيباني انتظامي از نگهبان‌ها در راستاي مأموريتهاي محوله به آنان<br />

                        🔸ماده30ـ ناجا موظف است ترتيبي اتخاذ نمايد حتي‌المقدور گسترش جغرافيايي مؤسسات در كشور بر مبناي نياز مناطق (به گونه‌اي كه رقابت سالم ايجاد شود) صورت پذيرد.<br />
                        🔸ماده31ـ هرگونه تبليغات، اطلاع‌رساني و فرهنگ‌سازي در جهت معرفي مؤسسات و فعاليت آنان از سوي مؤسسات با مجوز و نظارت ناجا  صورت خواهد گرفت.<br />
                        🔸ماده32ـ تعيين سياستها و خط مشي‌هاي كلي (با پيشنهاد ناجا) نظارت عاليه بر حُسن اجراي آيين‌نامه، بر عهده شاك و نظارت بر اجراي اين آيين‌نامه و دستورالعملهاي مربوطه به عهده ناجا است و در همين چارچوب ناجا مسئول ارائه پاسخ به دستگاهها و سازمانها و ساير مبادي ذيربط مي‌باشد.<br />
                        🔸ماده33ـ چنانچه بنا به درخواست مؤسسات، ناجا تجهيزات و بسترهاي ارتباطي موردنياز مؤسسات را تأمين كند مجاز است هزينه‌هاي آن را (بر مبناي قيمت تمام شده) و طبق مجوزهاي قانوني دريافت نمايد.<br />
                        🔸ماده34ـ مؤسسات مشمول اين آيين‌نامه مجاز به تشكيل شركت تعاوني، اتحاديه، انجمن صنفي و مشابه آن نمي‌باشند.<br />
                        🔸ماده35ـ با توجه به سياست كلي در واگذاري امور اجرايي برخي از خدمات انتظامي به بخش خصوصي با حفظ سياست‌گذاري و كنترل و نظارت ناجا، به ناجا اجازه داده مي‌شود با رعايت موارد زير نسبت به صدور مجوز ايجاد مؤسسات خدمات انتظامي تحت عنوان (دفاتر خدمات الكترونيك پليس) اقدام نمايد. اين دفاتر مشابه مؤسسات مذكور در اين آيين‌نامه خواهند بود كه شرح فعاليت و ساز و كارهاي آنها و نحوه تعامل بين آنها و ناجا با پيشنهاد نيروي انتظامي و تأييد ساحفا ناجا از طريق ستاد كل به تصويب فرماندهي معظم كل قوا خواهد رسيد.<br />
                        الف ـ آن دسته از فعاليت‌هاي واگذاري به مؤسسات و دفاتر خدمات الكترونيك پليس كه منجر به صدور اسناد و مدارك و اوراق بهادار از قبيل گذرنامه، گواهينامه، پايان خدمت، گواهي عدم سوء پيشينه و... مي‌گردد كنترل و تأييد صحت و اصالت اقدامات و فعاليت‌هاي مقدماتي انجام شده براي صدور اسناد و مدارك مذكور بايد صرفاً توسط كاركنان ناجا انجام پذيرد.<br />
                        ب ـ ناجا موظف است در خصوص واگذاري انجام هر نوع خدمات انتظامي جديد به مؤسسات و دفاتر خدمات الكترونيك پليس الزامات و ملاحظات امنيتي و حفاظتي را از ساحفا ناجا استعلام و آنها را در فرآيندها و ساز و كارهاي ابلاغي ملاك عمل قرار دهد و تا تحقق شرايط و الزامات امنيتي و حفاظتي از واگذاري امور به مؤسسات و دفاتر مزبور خوداری نماید.<br />



                        🔸ماده36ـ امور و فعاليتهاي واگذار شده بشرح ذيل كه هم‌اكنون در دفاتر خدمات الكترونيك پليس و مؤسسات، جاري و در حال اجرا مي‌باشد كماكان تداوم خواهد داشت لكن ناجا موظف است اين فعاليتها را نيز حداكثر ظرف مدت 3 ماه با ضوابط و مقررات و ساز و كارهاي تعيين شده در اين آيين‌نامه تطبيق داده و نسبت به اصلاح موارد اقدام نمايد و در صورت عدم تطابق در مهلت تعيين شده از ادامه فعاليت آنها جلوگيري نمايد:<br />
                        1ـ دريافت مدارك و اسناد مربوط به تمديد و يا تعويض و يا صدور المثني گواهينامه رانندگي پايه يكم و دوم<br />
                        2ـ آزمون‌هاي راهنمايي و رانندگي<br />
                        3ـ صدور عدم خلافي خودروها و موتورسيكلت و موارد مربوط به معاينه و شماره‌گذاري و اصالت خودرو و موتورسيكلت<br />
                        4ـ رسيدگي به شكايات صورت وضعيت خلافي خودرو (ثبت شكايات و اعلام نتيجه)<br />
                        5 ـ دريافت مدارك و اسناد مربوط به صدور گذرنامه<br />
                        6 ـ دريافت مدارك و اسناد مربوط به كارت پايان خدمت يا معافيت وظيفه (صدور اوليه ـ المثني)<br />
                        7ـ دريافت مدارك و انجام اقدامات مقدماتي (تكميل فرمهاي مربوط و ثبت اثر انگشت متقاضي) به منظور صدور گواهي عدم سوء پيشينه<br />
                        8 ـ دريافت مدارك و اسناد مربوط به درخواست پروانه كسب<br />
                        تبصره ـ مواردي كه در آينده قرار است علاوه بر موارد ذكر شده در بالا به دفاتر خدمات الكترونيك پليس و مؤسسات واگذار شود بايد متناسب و منطبق با ساز و كارها و ضوابط و مقررات معين در اين آيين‌نامه بوده و واگذاري آنها بايد پس از تصويب فرماندهي معظم كل قوا انجام پذيرد.<br />
                        🔸ماده37ـ مسئوليت نظارت و كنترل بر رعايت كليه امور حفاظت اطلاعاتي در اين مؤسسات و دفاتر خدمات الكترونيك پليس بر عهده ساحفا ناجا بوده كه در چارچوب اساسنامه مصوب سازمان و دستورالعملهاي ابلاغي وظايف خود را انجام دهد.<br />
                        🔸ماده38ـ ناجا موظف است وضعيت و فعاليت دفاتر خدمات الكترونيك پليس و مؤسساتي كه قبل از تصويب اين آيين‌نامه در زمينه امور خدمات انتظامي، حفاظتي، مراقبتي، نگهباني و امثال آن تشكيل شده‌اند و در حال حاضر فعال مي‌باشند را حداكثر ظرف مدت 6 ماه از زمان انتشار رسمي اين آيين‌نامه، با ضوابط و مقررات آن تطبيق داده و نسبت به اصلاح موارد اقدام و در صورت عدم تطابق در مهلت مناسب تعيين شده، از ادامه فعاليت مؤسسه يا دفتر ذيربط جلوگيري نمايد.<br />
                        🔸ماده39ـ اصلاح اين آيين‌نامه به پيشنهاد وزارت كشور يا ناجا، پس از تأييد ستاد كل به‌تصويب فرماندهي‌معظم كل‌قوا خواهدرسيد. همچنين تفسير اين آيين‌نامه با ستاد كل مي‌باشد.<br />
                        اين آيين‌نامه مشتمل بر پيش‌گفتار، 5 فصل، 39 ماده و 38 تبصره طي گردشكار شماره 74366 ستاد كل نيروهاي مسلح به محضر مقام معظم رهبري و فرماندهي كل قوا تقديم و در تاريخ 17/8/1388 مورد تصويب قرار گرفت.<br />

                    </div>

                </div>
            </div>
        </div>

    </div>

</section>